ul {
  list-style-type: none;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.ant-back-top {
  bottom: 100px;
}
.ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.nav-menu-wraper {
  height: 60px;
}

.box-shadow{
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.box-border {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.col-full-left {
  margin-left: 50px;
}

.col-full-right {
  margin-right: 50px;
}

.col-wraper {
  justify-content: center;
  display: flex;
  align-items: center;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-input-affix-wrapper .ant-input:not(:last-child){
  background-color: transparent;
  border : 0px
}